DOCKER_USER=your-dockerhub-username
PUBLIC_IP=135.125.100.150
DOMAIN=dev-ora.tn
EMAIL=bejaouiahmed053@gmail.com

POSTGRES_DB=ai_code_review
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

PGADMIN_EMAIL=admin@dev-ora.tn
PGADMIN_PASSWORD=change-me

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me

NEO4J_USER=neo4j
NEO4J_PASSWORD=change-me

GRAFANA_PASSWORD=change-me
