NODE_ENV=production
PORT=3001

BACKEND_API_URL=http://ai-review-api:8000

NEXT_PUBLIC_API_URL=http://135.125.100.150:3001
NEXT_PUBLIC_APP_URL=http://135.125.100.150:3001
NEXT_PUBLIC_BACKEND_URL=http://135.125.100.150:8000
NEXT_PUBLIC_Y_WEBSOCKET_URL=ws://135.125.100.150:1234

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
CLERK_SECRET_KEY=

GITHUB_WEBHOOK_SECRET=change-me
